  <footer id="footer">
    <nav>
      <ul>
        <li><span>Consortium</span></li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="https://data-apis.org/array-api/latest/">Array API</a>
        </li>
        <li>
          <a href="https://github.com/data-apis">GitHub</a>
        </li>
          <li>
          <a href="https://github.com/data-apis/governance/blob/master/consortium_governance.md">Governance</a>
        </li>
          <li>
          <a href="https://github.com/data-apis/.github/blob/master/CODE_OF_CONDUCT.md">Code of Conduct</a>
        </li>
      </ul>
    </nav>
    <p>&copy Consortium Members; Licence MIT.</p>
  </footer>
