{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button primary big" href="https://github.com/data-apis/consortium-feedback">Feedback</a> <a class="button outline big" href="https://github.com/data-apis" >View on Github</a>
    <p>Read our <a href="/blog/announcing_the_consortium/">announcement</a> and
    <a href="/blog/array_api_v2022_release/">2022 array API release</a>
    blog posts and tell us what you think!
    </p>
  </div>

  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Start with why" height="48" src="{{ "/img/kube/icon-typo.png" | relURL }}" width="48">
        </figure>
        <h3>Start with why</h3>
        <p>We aim to solve hard problems, without introducing new ones. Careful consideration of use cases and requirements will get us there.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Data-driven" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Data-driven</h3>
        <p>We strongly believe decisions should be informed by real-world usage data. Hence our focus on tooling and API usage data.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Conservative choices" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Conservative choices</h3>
        <p>API design is hard. Adding is easier than subtracting. So if we're not sure, we make conservative choices.</p>
      </div>
    </div>

     <div class="row gutters">
      <div class="col col-2 item"></div>
      <div class="col col-8 item">
        <h2>Sponsors</h2>
        <p>The engineering, technical writing and organizational effort needed to bootstrap this Consortium and draft the first versions of the n-dimensional array and dataframe API standards is supported by:</p>
        <img src="/images/sponsors.png" alt="Sponsor logos">
      </div>
      <div class="col col-2 item"></div>
    </div>

  </div>

</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
